@tailwind base;
@tailwind components;
@tailwind utilities;

@layer {
    .appContainer {
        @apply container max-w-screen-xl;
    }
    .deal-icon {
        @apply w-[64px] h-[64px] rounded-full flex justify-center items-center absolute bg-gray-100;
    }
}

::-webkit-scrollbar {
    width: 10px;
}
  
::-webkit-scrollbar-track {
    background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
    background: #d4d4d4;
}

::selection {
    background: #E7E9EB;
    color: #333;
}