@tailwind base;
@tailwind components;
@tailwind utilities;

@layer {
    .appContainer {
        @apply container max-w-screen-lg;
    }
}

::-webkit-scrollbar {
    width: 10px;
}
  
::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 10px;
}
::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
}

::selection {
    background: #E7E9EB;
    color: #333;
}
